<div class="myContainer">
  <div class="card text-white bg-primary m-5" style="width: 25rem;">
    <div class="card-header text-center">
      <h2>City Name : Dhaka</h2>
      <p><img src="{{iconURL}}" alt="iconURL"></p>
    </div>
    <div class="card-body text-center">
      <p class="card-text">Summary : {{summary}}</p>
      <p class="card-text">Temperature : {{temperature}} °F</p>
      <p class="card-text">Feels like : {{feelsLikeTemp}} °F</p>
      <p class="card-text">Pressure : {{pressure}} hPa</p>
      <p class="card-text">Humidity : {{humidity}} </p>
    </div>
  </div>
</div>
